
.btn {
    margin: 10px;
    width: 110px;
    height: 42px;
}
.label {
    width:20%;
    padding:4px;
    color:#512d2d;
    font-size: 100%;
}

.value {
    width:80%;
    padding:4px;
}
.value td {
    padding-right: 8px;
}
