
.btn {
    margin: 10px;
    width: 110px;
    height: 42px;
}
.label {
    width:20%;
    padding:4px;
    color:#512d2d;
    font-size: 100%;
}

.value {
    width:80%;
    padding:4px;
}
.value td {
    padding-right: 8px;
}
.ui-widget {
    font-family: -webkit-body, serif;
}

td .ui-widget {
    border-radius: 15px;
    font-family: -webkit-body, serif;
}

select {
    border-radius: 3px;
    height: 30px;
    width: 186px;
    font-family: -webkit-body, serif;
    font-size: 15px;
}

.ui-widget-content  .ui-inputfield{
    font-family: -webkit-body, serif;
    font-size: 15px;
}
#create-clas{
    width: 510px;
}