<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlsv</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="model.Subject"/>
        <mapping class="model.Province"/>
        <mapping class="model.ClassCredit"/>
        <mapping class="model.Registersub"/>
        <mapping class="model.Score"/>
        <mapping class="model.ClassSubject"/>
        <mapping class="model.User"/>
        <mapping class="model.Ward"/>
        <mapping class="model.District"/>
        <mapping class="model.Student"/>
        <mapping class="model.ClassPayroll"/>
    </session-factory>
</hibernate-configuration>
